/* Beginning of this css */
body {
    background:
            url("https://cdn.sandals.com/sandals/v12/images/general/all-inclusive/best-beaches/people-beach.jpg")
            repeat;
}

div {
    background-color: #00ffff;
    border-color: #00008b;
    border-width: 2px;
    border-style: double;
}

h1 {
    color: #fb5555;
}

h4 {
    color: #ff6100;
}

li {
    color: #116100;
}

p {
    color: #080508;
}

span {
    background: #eb7093;
    color: #111111;
}
